<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Home page <%= 4+5+1 %></h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus, rerum. Delectus necessitatibus sequi eum? Molestiae illum repellat commodi illo doloremque, accusamus aut neque eos a! Numquam animi blanditiis soluta ad?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate nemo dolorum saepe libero modi facilis ipsam sed cupiditate, officiis fuga deserunt, sint excepturi earum nisi, laudantium hic enim architecto ipsum.</p>
</body>
</html>